page-tips {
    .square {
        display: block;
        float: left;
        border: 1px solid #ccc;
        height: 20px;
        width: 20px;
        box-sizing: border-box;
    }

    .-mright {
        margin-right: 5px;
    }

    .square.full {
        background: darken(map-get($colors, 'primary'), 24);
    }

    .square5 {
        width: 20%;
    }

    .square7 {
        width: 14.27%;
    }

    .cpf-input {
        padding: 0 10px;
    }
}
