page-exam {

  .pdf {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: map-get($colors, secondary);
    img {
      max-width: 150px;
      max-height: 150px;
      margin: 0px 3px;
    }
  }

  .exam-info {
    background-color: rgba(map-get($colors, primary), $alpha: 0.8);
    color: #fff;

    .location {
      margin-top: 15px;
      color: #fff;
    }

  }


}
