<!--
  Generated template for the ExamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Exame</ion-title>
    <ion-buttons end>
      <button ion-button (click)="goBack()">Ok</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item no-lines class="exam-info">
    <h1 text-center text-wrap>Hemograma com contagem de plaquetas ou frações (eritograma leucograma plaquetas)</h1>
    <p text-center class="location">Hospital Lifecenter - 12/05 as 18:20</p>
  </ion-item>

  <ion-item no-lines *ngIf="!showFile">
    <p text-center text-wrap ion-text color="secondary">
      Este exame não tem tem um resultado anexado. Anexe uma foto do resultado do exame para que receba <b>o dobro da pontuação convencional</b>.
    </p>
  </ion-item>

  <div padding>
    <button ion-button color="secondary" block (click)="uploadFile()">Anexar resultado</button>
    <div class="pdf" *ngIf="showFile">
      <img src="assets/imgs/exame.jpg" alt="">
      <img src="assets/imgs/exame2.png" alt="">
    </div>
  </div>

  <ion-item>
    Código: 40.60.126-9
  </ion-item>
  <ion-item>
    Data de realização: 12/05/2017 as 18:20
  </ion-item>
  <ion-item>
    Quantidade: 1
  </ion-item>
  <ion-item>
    Valor do procedimento: R$ 32, 20
  </ion-item>
  <ion-item>
    Valor pago: R$ 0,00
  </ion-item>
  <ion-item>
    <span text-wrap>Valor obtido: <span ion-text color="secondary">+{{points}} pontos</span></span>
    <span item-right text-center *ngIf="!showFile">Anexe o resultado <br> para dobrar</span>
  </ion-item>

</ion-content>
