page-intro {

  position: relative;

  .steps-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 200px;
    .step-item {
      span {
        margin-left: 4px;
      }
    }
  }


  .btn-next {
    position: absolute;
    bottom: 20px;
  }

}
