page-intro {

  .intro-container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;


    .steps-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .step-item {
        padding: 20px 0px;
        span {
          margin-left: 4px;
        }
      }
    }
  }


}
