page-signup {
  .scroll-content {


    .logo {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .logo-image {
          position: relative;
          max-width: 250px;
          max-height: 250px;
      }
    }


    &:before {
        display: block;
        content: '';
        position: absolute;
        background: url(../assets/imgs/health.jpg) center center no-repeat;
        background-size: cover;
        left: 0;
        top: 0;
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }
  }


}
